
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre de negocio</th>
            <th scope="col">dirección</th>
            <th scope="col">Ubigeo</th>
            <th scope="col">¿A que se dedica?</th>
            <th scope="col">fecha de registro</th>
            <th scope="col">Estado</th>
            <th scope="col">Notas</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor='let negocios of lista'>
            <td>{{negocios.id_neg}} </td>
            <td>{{negocios.nom_neg}} </td>
            <td>{{negocios.dir_neg}} </td>
            <td>{{negocios.ubi_neg}} </td>
            <td>{{negocios.aqd_neg}} </td>
            <td>{{negocios.fre_neg}} </td>
            <td>{{negocios.sta_neg}} </td>
            <td>{{negocios.not_neg}} </td>
        </tr>

    </tbody>
</table>
