<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./home.component.css" />
  
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="nosotros nosotros-block layout">
      <div class="nosotros-block1 layout">
        <div class="nosotros-block2 layout">
          <div class="nosotros-block2-item">
            <div style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)" class="nosotros-image layout"></div>
          </div>
          <div class="nosotros-block2-spacer"></div>
          <div class="nosotros-block2-item1">
            <div class="nosotros-block3 layout">
              <h3 class="nosotros-subtitle layout">Inicio</h3>
              <h3 class="nosotros-subtitle layout1">Nosotros</h3>
              <h3 class="nosotros-subtitle layout2">Contáctanos</h3>
            </div>
          </div>
          <div class="nosotros-block2-spacer"></div>
          <div class="nosotros-block2-item2">
            <div class="nosotros-block4 layout">
              <h3 class="nosotros-subtitle1 layout">Registrarse</h3>
              <div class="nosotros-block4-spacer"></div>
              <div class="nosotros-block4-item">
                <div
                  style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)"
                  class="nosotros-image1 layout"
                ></div>
              </div>
              <div class="nosotros-block4-spacer1"></div>
              <h3 class="nosotros-subtitle1 layout">Iniciar Sesión</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="nosotros-block5 layout">
        <div class="nosotros-block6 layout">
          <img src="./assets/94715859a243abef409b0b6d761c58c8.png" alt="" class="nosotros-image2 layout" />
          <div class="nosotros-box layout"></div>
        </div>
        <div class="nosotros-block7 layout">
          <div class="nosotros-block8 layout">
            <div class="nosotros-block9 layout">
              <div class="nosotros-block9-item"><h1 class="nosotros-hero-title layout">PetLove</h1></div>
              <h3 class="nosotros-subtitle2 layout">
                El estudio actual es una iniciativa de proyecto que se ha visto en beneficio de muchas personas que estén interesados en el bienestar de las mascotas, la aplicación a desarrollar, mostrará diversas opciones de parejas para sus mascotas y no será necesario alguna subscripción
              </h3>
            </div>
            <div class="nosotros-block10 layout">
              <div class="nosotros-block10-item">
                <div
                  style="--src:url(../assets/e972fe7f137b77d4962a88c4e47aa51f.png)"
                  class="nosotros-image3 layout"
                ></div>
              </div>
              <div class="nosotros-block10-spacer"></div>
              <div class="nosotros-block10-item1">
                <div class="nosotros-block11 layout">
                  <div class="nosotros-block12 layout">
                    <div class="nosotros-block13 layout">
                      <h3 class="nosotros-subtitle3 layout">ACERCA DE NOSOTROS</h3>
                      <h1 class="nosotros-hero-title1 layout">Petlove</h1>
                    </div>
                    <h3 class="nosotros-subtitle21 layout">
                      Lorem Ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem
                      ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum.
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nosotros-block14 layout">
        <div class="nosotros-block15 layout">
          <div class="nosotros-block16 layout">
            <div class="nosotros-block16-item">
              <div class="nosotros-block17 layout">
                <div
                  style="--src:url(../assets/03f522c54a05304624d1af6806cd6964.png)"
                  class="nosotros-image4 layout"
                ></div>
              </div>
            </div>
            <div class="nosotros-block16-spacer"></div>
            <div class="nosotros-block16-item1">
              <div class="nosotros-block18 layout">
                <h2 class="nosotros-medium-title layout">ACERCA DE NOSOTROS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="nosotros-image5 layout"
                ></div>
                <h4 class="nosotros-highlights layout">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat.
                </h4>
                <div class="nosotros-block19 layout">
                  <div class="nosotros-block19-item">
                    <div
                      style="--src:url(../assets/abfbd2e367082ecd26193ea4f73f55de.png)"
                      class="nosotros-icon layout"
                    ></div>
                  </div>
                  <div class="nosotros-block19-spacer"></div>
                  <div class="nosotros-block19-item">
                    <div
                      style="--src:url(../assets/9d550a4ed611e824465a77070e9e544a.png)"
                      class="nosotros-icon layout"
                    ></div>
                  </div>
                  <div class="nosotros-block19-spacer"></div>
                  <div class="nosotros-block19-item1">
                    <div
                      style="--src:url(../assets/33ad6812ce4fa720ee9fa0e6e050c6f4.png)"
                      class="nosotros-icon1 layout"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nosotros-block16-spacer"></div>
            <div class="nosotros-block16-item">
              <div class="nosotros-block20 layout">
                <h2 class="nosotros-medium-title layout">CONTÁCTANOS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="nosotros-image5 layout"
                ></div>
                <h4 class="nosotros-highlights1-box layout">
                  <pre class="nosotros-highlights1">
Av. Los Robles 123 – Surco
contacto@petlove.com
Telf: +51 999 888 777</pre
                  >
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="nosotros-block14-item">
          <div class="nosotros-block21 layout">
            <h5 class="nosotros-highlights11 layout">©2022 Petlove.com Todos los derechos reservados</h5>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
