
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./editar-perfil.component.css" />



    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
</head>


<body style="display: flex; flex-direction: column">
    <div class="login login-block layout">
        <div class="login-block1 layout">
            <div class="login-block2 layout">
                <div class="login-block3 layout">
                    <div class="login-block3-item">
                        <br>
                        <br>
                        <br>

                        <div style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)" class="login-image layout"></div>
                    </div>
                    <div class="login-block3-spacer"></div>
                    <div class="login-block3-item1">
                        <div class="login-block4 layout">
                            
                            <h3 class="login-subtitle layout"></h3>
                            <div class="login-block4-spacer"></div>
                            <h3 class="login-subtitle layout"></h3>
                            <div class="login-block4-spacer1"></div>
                            <h3 class="login-subtitle layout1"></h3>
                        </div>
                    </div>
                    <div class="login-block3-spacer"></div>
                    <div class="login-block3-item2">
                        <div class="login-block5 layout">
                            <h3 class="login-subtitle1 layout"></h3>
                            <div class="login-block5-spacer"></div>
                            <div class="login-block5-item">
                                <div style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)" class="login-image1 layout"></div>
                            </div>
                            <div class="login-block5-spacer1"></div>
                            <h3 class="login-subtitle1 layout"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
               <h1  class="login-hero-title layout">Editar Usuario</h1>
        <br>




<div class="container px-5 my-5">
    <form [formGroup]="usuarios">



        <div class=" form-group ">
            <input class="form-control " id="ID_USUARIO " formControlName="Id_usr" type="text " placeholder="Nombre de usuario " />
            <label for="nombreDeUsuario ">ID_USUARIO</label>


        </div>



        <div class=" form-group ">
            <input class="form-control " id="nombreDeUsuario " formControlName="Login_usr" type="text " placeholder="Nombre de usuario " />
            <label for="nombreDeUsuario ">Nombre de usuario</label>


        </div>


        <div class="form-group ">
            <input class="form-control " id="contrasena " formControlName="Pwd_usr" type="text " placeholder="Contraseña " />
            <label for="contrasena ">Contraseña</label>

        </div>


        <div class="form-group ">
            <input class="form-control " id="apellido " formControlName="Ape_usr" type="text " placeholder="Apellido " />
            <label for="apellido ">Apellido</label>
        </div>


        <div class="form-group ">
            <input class="form-control " id="nombre " formControlName="Nom_usr" type="text " placeholder="Nombre " />
            <label for="nombre ">Nombre</label>
        </div>


        <div class="form-group ">
            <input class="form-control " id="ubigeo " formControlName="Ubi_usr" type="text " placeholder="Ubigeo " data-sb-validations="required " />
            <label for="ubigeo ">Ubigeo</label>

        </div>


        <div class="form-group ">
            <input class="form-control " id="numeroDeCelular " formControlName="Cel_usr" type="text " placeholder="Numero de Celular " />
            <label for="numeroDeCelular ">Numero de Celular </label>
        </div>


        <div class="form-group ">
            <input class="form-control " id="estado " formControlName="Sta_usr" type="text " placeholder="Estado " />
            <label for="estado ">Estado</label>
        </div>



        <div class="d-grid ">
            <button type="button " (click)="Actualizar() " class="btn btn-primary ">Agregar</button>
        </div>

    </form>

</div>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js "></script>