/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.h5--registrar-mascota2-block {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .h5--registrar-mascota2-block.layout {
    position: relative;
    min-height: 1610px;
  }
  .h5--registrar-mascota2-block1 {
    display: flex;
    flex-direction: column;
    background-color: #ff3a75;
  }
  .h5--registrar-mascota2-block1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block2 {
    display: flex;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block2 {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  .h5--registrar-mascota2-block2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 62.5%;
    margin: 0px auto;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block2.layout {
      width: 68.97%;
    }
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block2.layout {
      width: 74.76%;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block2.layout {
      width: 79.8%;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block2.layout {
      width: 84.04%;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block2.layout {
      width: 87.53%;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block2.layout {
      width: 90.35%;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block2.layout {
      width: 92.58%;
    }
  }
  .h5--registrar-mascota2-block2-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 210px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block2-item {
      flex: 0 0 100%;
    }
  }
  .h5--registrar-mascota2-image {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-image.layout {
    position: relative;
    height: 38px;
    margin: 31px 0px 31px 10px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-image.layout {
      margin: 27px 9px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-image.layout {
      margin: 23px 7px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-image.layout {
      margin: 19px 6px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-image.layout {
      margin: 18px 6px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-image.layout {
      margin: 16px 5px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-image.layout {
      margin: 15px 5px;
    }
  }
  .h5--registrar-mascota2-block2-spacer {
    flex: 0 1 40px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block2-spacer {
      display: none;
    }
  }
  .h5--registrar-mascota2-block2-item1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 622px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block2-item1 {
      flex: 0 0 100%;
    }
  }
  .h5--registrar-mascota2-block3 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block3.layout {
    position: relative;
    height: 1px;
    margin: 50px 0px 49px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block3.layout {
      margin: 43px 0px 42px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block3.layout {
      margin: 35px 0px 34px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block3.layout {
      margin: 28px 0px 27px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block3.layout {
      margin: 24px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block3.layout {
      margin: 21px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block3.layout {
      margin: 19px 0px 18px;
    }
  }
  .h5--registrar-mascota2-subtitle {
    font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle {
      font-size: 19px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle {
      font-size: 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle {
      font-size: 16px;
    }
  }
  .h5--registrar-mascota2-subtitle.layout {
    position: absolute;
    top: -15px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 0px;
    width: 62px;
  }
  .h5--registrar-mascota2-subtitle.layout1 {
    position: absolute;
    top: -15px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 94px;
    width: 98px;
  }
  .h5--registrar-mascota2-subtitle.layout2 {
    position: absolute;
    top: -15px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    left: 236px;
    width: 140px;
  }
  .h5--registrar-mascota2-block2-item2 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 288px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block2-item2 {
      flex: 0 0 100%;
    }
  }
  .h5--registrar-mascota2-block4 {
    display: flex;
  }
  .h5--registrar-mascota2-block4.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 35px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block4.layout {
      margin: 30px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block4.layout {
      margin: 26px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block4.layout {
      margin: 21px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block4.layout {
      margin: 19px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block4.layout {
      margin: 17px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block4.layout {
      margin: 16px 0px;
    }
  }
  .h5--registrar-mascota2-subtitle1 {
    font: 500 20px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle1 {
      font-size: 19px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle1 {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle1 {
      font-size: 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle1 {
      font-size: 16px;
    }
  }
  .h5--registrar-mascota2-subtitle1.layout {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 6px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle1.layout {
      margin: 0px 0px 5px;
    }
  }
  .h5--registrar-mascota2-block4-spacer {
    flex: 0 1 9px;
  }
  .h5--registrar-mascota2-block4-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 0 auto;
    min-width: 1px;
  }
  .h5--registrar-mascota2-image1 {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-image1.layout {
    position: relative;
    height: 30px;
    width: 1px;
    min-width: 1px;
  }
  .h5--registrar-mascota2-block4-spacer1 {
    flex: 0 1 15px;
  }
  .h5--registrar-mascota2-block5 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-image2 {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-image2.layout {
    position: relative;
    height: 73px;
    width: 19.79%;
    margin: 100px auto 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-image2.layout {
      margin: 83px auto 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-image2.layout {
      margin: 64px auto 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-image2.layout {
      margin: 48px auto 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-image2.layout {
      margin: 40px auto 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-image2.layout {
      width: 24.77%;
      margin: 32px auto 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-image2.layout {
      width: 30.51%;
      margin: 27px auto 0px;
    }
  }
  .h5--registrar-mascota2-block6 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block6.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 47.11%;
    margin: 66px auto 100px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block6.layout {
      margin: 57px auto 83px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block6.layout {
      margin: 47px auto 64px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block6.layout {
      margin: 38px auto 48px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block6.layout {
      margin: 33px auto 40px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block6.layout {
      margin: 29px auto 32px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block6.layout {
      margin: 26px auto 27px;
    }
  }
  .h5--registrar-mascota2-block7 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block7.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block8 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block8.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 336px;
    min-width: 336px;
    margin: 0px auto 0px 0px;
  }
  .h5--registrar-mascota2-hero-title {
    display: flex;
    justify-content: center;
    font: 700 36px/1.2 "Poppins", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-hero-title {
      font-size: 32px;
      text-align: center;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-hero-title {
      font-size: 29px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-hero-title {
      font-size: 25px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-hero-title {
      font-size: 24px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-hero-title {
      font-size: 22px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-hero-title {
      font-size: 21px;
    }
  }
  .h5--registrar-mascota2-hero-title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block9 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block9.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 56px 0px 0px 4.5px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block9.layout {
      margin: 48px 0px 0px 5px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block9.layout {
      margin: 39px 0px 0px 5px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block9.layout {
      margin: 32px 0px 0px 5px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block9.layout {
      margin: 28px 0px 0px 5px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block9.layout {
      margin: 24px 0px 0px 5px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block9.layout {
      margin: 21px 0px 0px 5px;
    }
  }
  .h5--registrar-mascota2-block10 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block10.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block11 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block11.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block12 {
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    border-radius: 33px 33px 33px 33px;
  }
  .h5--registrar-mascota2-block12.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-subtitle2 {
    font: 20px/1.2 "Poppins", Helvetica, Arial, serif;
    color: #333333;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2 {
      font-size: 19px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2 {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2 {
      font-size: 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2 {
      font-size: 16px;
    }
  }
  .h5--registrar-mascota2-subtitle2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 18px 30px 24px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout {
      margin: 16px 26px 21px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout {
      margin: 13px 22px 18px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout {
      margin: 11px 19px 15px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout {
      margin: 10px 17px 14px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout {
      margin: 9px 15px 12px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout {
      margin: 9px 14px 11px;
    }
  }
  .h5--registrar-mascota2-block13 {
    display: flex;
  }
  .h5--registrar-mascota2-block13.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block13.layout {
      margin: 22px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block13.layout {
      margin: 19px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block13.layout {
      margin: 16px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block13.layout {
      margin: 14px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block13.layout {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block13.layout {
      margin: 12px 0px 0px;
    }
  }
  .h5--registrar-mascota2-block13-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 440px;
  }
  .h5--registrar-mascota2-block14 {
    display: flex;
    border: 1px solid #999999;
    border-radius: 33px 33px 33px 33px;
  }
  .h5--registrar-mascota2-block14.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-subtitle2.layout1 {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 18px 0px 24px 30px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout1 {
      margin: 16px 0px 21px 26px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout1 {
      margin: 13px 0px 18px 22px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout1 {
      margin: 11px 0px 15px 19px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout1 {
      margin: 10px 0px 14px 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout1 {
      margin: 9px 0px 12px 15px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout1 {
      margin: 9px 0px 11px 14px;
    }
  }
  .h5--registrar-mascota2-block14-spacer {
    flex: 0 1 300px;
  }
  .h5--registrar-mascota2-block14-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 56px;
  }
  .h5--registrar-mascota2-block15 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block15.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 15px 20px 15px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block15.layout {
      margin: 13px 18px 13px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block15.layout {
      margin: 11px 15px 11px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block15.layout {
      margin: 9px 13px 9px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block15.layout {
      margin: 9px 11px 9px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block15.layout {
      margin: 8px 10px 8px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block15.layout {
      margin: 7px 10px 7px 0px;
    }
  }
  .h5--registrar-mascota2-image3 {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-image3.layout {
    position: relative;
    height: 14px;
    width: 22px;
    min-width: 22px;
    margin: 11px 7px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-image3.layout {
      margin: 10px 6px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-image3.layout {
      margin: 8px 5px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-image3.layout {
      margin: 7px 5px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-image3.layout {
      margin: 6px 5px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-image3.layout {
      margin: 5px;
    }
  }
  .h5--registrar-mascota2-block13-spacer {
    flex: 0 1 20px;
  }
  .h5--registrar-mascota2-subtitle2.layout2 {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 18px 0px 24px 30px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout2 {
      margin: 16px 0px 21px 26px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout2 {
      margin: 13px 0px 18px 22px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout2 {
      margin: 11px 0px 15px 19px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout2 {
      margin: 10px 0px 14px 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout2 {
      margin: 9px 0px 12px 15px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout2 {
      margin: 9px 0px 11px 14px;
    }
  }
  .h5--registrar-mascota2-block14-spacer1 {
    flex: 0 1 275px;
  }
  .h5--registrar-mascota2-subtitle2.layout3 {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 15px 0px 27px 30px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout3 {
      margin: 13px 0px 24px 26px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout3 {
      margin: 11px 0px 20px 22px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout3 {
      margin: 9px 0px 17px 19px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout3 {
      margin: 9px 0px 15px 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout3 {
      margin: 8px 0px 14px 15px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout3 {
      margin: 7px 0px 13px 14px;
    }
  }
  .h5--registrar-mascota2-block14-spacer2 {
    flex: 0 1 158px;
  }
  .h5--registrar-mascota2-subtitle2.layout4 {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 15px 0px 27px 30px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout4 {
      margin: 13px 0px 24px 26px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout4 {
      margin: 11px 0px 20px 22px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout4 {
      margin: 9px 0px 17px 19px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout4 {
      margin: 9px 0px 15px 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout4 {
      margin: 8px 0px 14px 15px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout4 {
      margin: 7px 0px 13px 14px;
    }
  }
  .h5--registrar-mascota2-block14-spacer3 {
    flex: 0 1 159px;
  }
  .h5--registrar-mascota2-block16 {
    display: flex;
    border: 1px solid #999999;
    border-radius: 33px 33px 33px 33px;
  }
  .h5--registrar-mascota2-block16.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block16.layout {
      margin: 22px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block16.layout {
      margin: 19px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block16.layout {
      margin: 16px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block16.layout {
      margin: 14px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block16.layout {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block16.layout {
      margin: 12px 0px 0px;
    }
  }
  .h5--registrar-mascota2-subtitle2.layout5 {
    position: relative;
    flex: 0 0 auto;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 18px 0px 24px 30px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout5 {
      margin: 16px 0px 21px 26px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout5 {
      margin: 13px 0px 18px 22px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout5 {
      margin: 11px 0px 15px 19px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout5 {
      margin: 10px 0px 14px 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout5 {
      margin: 9px 0px 12px 15px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout5 {
      margin: 9px 0px 11px 14px;
    }
  }
  .h5--registrar-mascota2-block16-spacer {
    flex: 0 1 724px;
  }
  .h5--registrar-mascota2-block16-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 56px;
  }
  .h5--registrar-mascota2-block12.layout1 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block12.layout1 {
      margin: 22px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block12.layout1 {
      margin: 19px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block12.layout1 {
      margin: 16px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block12.layout1 {
      margin: 14px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block12.layout1 {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block12.layout1 {
      margin: 12px 0px 0px;
    }
  }
  .h5--registrar-mascota2-block17 {
    display: flex;
    flex-direction: column;
    border: 1px solid #999999;
    border-radius: 50px 50px 50px 50px;
  }
  .h5--registrar-mascota2-block17.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block17.layout {
      margin: 22px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block17.layout {
      margin: 19px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block17.layout {
      margin: 16px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block17.layout {
      margin: 14px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block17.layout {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block17.layout {
      margin: 12px 0px 0px;
    }
  }
  .h5--registrar-mascota2-subtitle2.layout6 {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 15px 30px 87px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle2.layout6 {
      margin: 13px 26px 73px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle2.layout6 {
      margin: 11px 22px 58px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle2.layout6 {
      margin: 9px 19px 45px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle2.layout6 {
      margin: 9px 17px 38px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle2.layout6 {
      margin: 8px 15px 32px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle2.layout6 {
      margin: 7px 14px 27px;
    }
  }
  .h5--registrar-mascota2-block11-item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .h5--registrar-mascota2-block18 {
    display: flex;
    flex-direction: column;
    background-color: #ff3a75;
    border-radius: 33px 33px 33px 33px;
  }
  .h5--registrar-mascota2-block18.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block18.layout {
      margin: 22px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block18.layout {
      margin: 19px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block18.layout {
      margin: 16px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block18.layout {
      margin: 14px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block18.layout {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block18.layout {
      margin: 12px 0px 0px;
    }
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle3-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle3-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle3-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle3-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .h5--registrar-mascota2-subtitle3-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 18px auto 24px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle3-box.layout {
      margin: 16px auto 21px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle3-box.layout {
      margin: 13px auto 18px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle3-box.layout {
      margin: 11px auto 15px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-subtitle3-box.layout {
      margin: 10px auto 14px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle3-box.layout {
      margin: 9px auto 12px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-subtitle3-box.layout {
      margin: 9px auto 11px;
    }
  }
  .h5--registrar-mascota2-subtitle3 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 700 20px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
    white-space: pre-wrap;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-subtitle3 {
      font-size: 19px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-subtitle3 {
      font-size: 18px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-subtitle3 {
      font-size: 17px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-subtitle3 {
      font-size: 16px;
    }
  }
  .h5--registrar-mascota2-block19 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block19.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block20 {
    display: flex;
    flex-direction: column;
    background-color: #ff3a75;
  }
  .h5--registrar-mascota2-block20.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-block21 {
    display: flex;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block21 {
      flex-wrap: wrap;
      row-gap: 16px;
    }
  }
  .h5--registrar-mascota2-block21.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 62.5%;
    margin: 60px auto;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block21.layout {
      width: 68.97%;
    }
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block21.layout {
      width: 74.76%;
      margin: 51px auto;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block21.layout {
      width: 79.8%;
      margin: 42px auto;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block21.layout {
      width: 84.04%;
      margin: 34px auto;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block21.layout {
      width: 87.53%;
      margin: 30px auto;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block21.layout {
      width: 90.35%;
      margin: 26px auto;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block21.layout {
      width: 92.58%;
      margin: 23px auto;
    }
  }
  .h5--registrar-mascota2-block21-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 387px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block21-item {
      flex: 0 0 100%;
    }
  }
  .h5--registrar-mascota2-block22 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block22.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 169px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block22.layout {
      margin: 0px 0px 135px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block22.layout {
      margin: 0px 0px 98px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block22.layout {
      margin: 0px 0px 66px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block22.layout {
      margin: 0px 0px 50px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block22.layout {
      margin: 0px 0px 34px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block22.layout {
      margin: 0px 0px 23px;
    }
  }
  .h5--registrar-mascota2-image4 {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-image4.layout {
    position: relative;
    height: 58px;
    width: 77.78%;
    margin: 0px 22.22% 0px 0%;
  }
  .h5--registrar-mascota2-block21-spacer {
    flex: 0 1 20px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block21-spacer {
      display: none;
    }
  }
  .h5--registrar-mascota2-block21-item1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 386px;
  }
  @media (max-width: 1399px) {
    .h5--registrar-mascota2-block21-item1 {
      flex: 0 0 100%;
    }
  }
  .h5--registrar-mascota2-block23 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block23.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-medium-title {
    font: 700 24px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-medium-title {
      font-size: 22px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-medium-title {
      font-size: 20px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-medium-title {
      font-size: 19px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-medium-title {
      font-size: 18px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-medium-title {
      font-size: 17px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-medium-title {
      font-size: 16px;
    }
  }
  .h5--registrar-mascota2-medium-title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-image5 {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-image5.layout {
    position: relative;
    height: 5px;
    width: 50px;
    min-width: 50px;
    margin: 23px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-image5.layout {
      margin: 20px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-image5.layout {
      margin: 17px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-image5.layout {
      margin: 14px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-image5.layout {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-image5.layout {
      margin: 12px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-image5.layout {
      margin: 11px 0px 0px;
    }
  }
  .h5--registrar-mascota2-highlights {
    font: 18px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights {
      font-size: 17px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights {
      font-size: 16px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights {
      font-size: 15px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights {
      font-size: 14px;
    }
  }
  .h5--registrar-mascota2-highlights.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 17px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights.layout {
      margin: 15px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights.layout {
      margin: 13px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights.layout {
      margin: 11px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-highlights.layout {
      margin: 10px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights.layout {
      margin: 9px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-highlights.layout {
      margin: 8px 0px 0px;
    }
  }
  .h5--registrar-mascota2-block24 {
    display: flex;
  }
  .h5--registrar-mascota2-block24.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 40px 0px 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block24.layout {
      margin: 35px 0px 0px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block24.layout {
      margin: 29px 0px 0px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block24.layout {
      margin: 24px 0px 0px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block24.layout {
      margin: 21px 0px 0px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block24.layout {
      margin: 19px 0px 0px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block24.layout {
      margin: 17px 0px 0px;
    }
  }
  .h5--registrar-mascota2-block24-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 26px;
  }
  .h5--registrar-mascota2-icon {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-icon.layout {
    position: relative;
    height: 26px;
    width: 26px;
    min-width: 26px;
  }
  .h5--registrar-mascota2-block24-spacer {
    flex: 0 1 20px;
  }
  .h5--registrar-mascota2-block24-item1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 0 1 27px;
  }
  .h5--registrar-mascota2-icon1 {
    background: var(--src) center center/contain no-repeat;
  }
  .h5--registrar-mascota2-icon1.layout {
    position: relative;
    height: 26px;
    width: 27px;
    min-width: 27px;
  }
  .h5--registrar-mascota2-block25 {
    display: flex;
    flex-direction: column;
  }
  .h5--registrar-mascota2-block25.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 0px 0px 72px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-block25.layout {
      margin: 0px 0px 62px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-block25.layout {
      margin: 0px 0px 50px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-block25.layout {
      margin: 0px 0px 41px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-block25.layout {
      margin: 0px 0px 36px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-block25.layout {
      margin: 0px 0px 31px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-block25.layout {
      margin: 0px 0px 28px;
    }
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights1-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights1-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights1-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights1-box {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  .h5--registrar-mascota2-highlights1-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 17px 0px 16px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights1-box.layout {
      margin: 15px 0px 14px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights1-box.layout {
      margin: 13px 0px 12px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights1-box.layout {
      margin: 11px 0px 10px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-highlights1-box.layout {
      margin: 10px 0px 9px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights1-box.layout {
      margin: 9px 0px 8px;
    }
  }
  @media (max-width: 383px) {
    .h5--registrar-mascota2-highlights1-box.layout {
      margin: 8px 0px;
    }
  }
  .h5--registrar-mascota2-highlights1 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 18px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    letter-spacing: 0px;
    white-space: pre-wrap;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights1 {
      font-size: 17px;
      text-align: left;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights1 {
      font-size: 16px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights1 {
      font-size: 15px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights1 {
      font-size: 14px;
    }
  }
  .h5--registrar-mascota2-block19-item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .h5--registrar-mascota2-block26 {
    display: flex;
    flex-direction: column;
    background-color: #d22f60;
  }
  .h5--registrar-mascota2-block26.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .h5--registrar-mascota2-highlights11 {
    display: flex;
    justify-content: flex-end;
    font: 16px/1.2 "Poppins", Helvetica, Arial, serif;
    color: white;
    text-align: right;
    letter-spacing: 0px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights11 {
      font-size: 15px;
      text-align: right;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights11 {
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights11 {
      font-size: 13px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights11 {
      font-size: 12px;
    }
  }
  .h5--registrar-mascota2-highlights11.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    min-width: 0px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 14px auto 18px;
  }
  @media (max-width: 1199px) {
    .h5--registrar-mascota2-highlights11.layout {
      margin: 12px auto 16px;
    }
  }
  @media (max-width: 991px) {
    .h5--registrar-mascota2-highlights11.layout {
      margin: 10px auto 13px;
    }
  }
  @media (max-width: 767px) {
    .h5--registrar-mascota2-highlights11.layout {
      margin: 9px auto 11px;
    }
  }
  @media (max-width: 575px) {
    .h5--registrar-mascota2-highlights11.layout {
      margin: 8px auto 10px;
    }
  }
  @media (max-width: 479px) {
    .h5--registrar-mascota2-highlights11.layout {
      margin: 7px auto 9px;
    }
  }

  /* fonts.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}
