<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="recupera-contrasenia.component.css" />
    

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="h4--recuperar-contrasena h4--recuperar-contrasena-block layout">
      <div class="h4--recuperar-contrasena-block1 layout">
        <div class="h4--recuperar-contrasena-block2 layout">
          <div class="h4--recuperar-contrasena-block2-item">
            <br>
            <br>
            <br>
            <div         
              style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)"
              class="h4--recuperar-contrasena-image layout"
            ></div>
          </div>
          <div class="h4--recuperar-contrasena-block2-spacer"></div>
          <div class="h4--recuperar-contrasena-block2-item1">
            <div class="h4--recuperar-contrasena-block3 layout">
              <h3 class="h4--recuperar-contrasena-subtitle layout">Inicio</h3>
              <h3 class="h4--recuperar-contrasena-subtitle layout1">Nosotros</h3>
              <h3 class="h4--recuperar-contrasena-subtitle layout2">Contáctanos</h3>
            </div>
          </div>
          <div class="h4--recuperar-contrasena-block2-spacer"></div>
          <div class="h4--recuperar-contrasena-block2-item2">
            <div class="h4--recuperar-contrasena-block4 layout">
              <h3 class="h4--recuperar-contrasena-subtitle1 layout">Registrarse</h3>
              <div class="h4--recuperar-contrasena-block4-spacer"></div>
              <div class="h4--recuperar-contrasena-block4-item">
                <div
                  style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)"
                  class="h4--recuperar-contrasena-image1 layout"
                ></div>
              </div>
              <div class="h4--recuperar-contrasena-block4-spacer1"></div>
              <h3 class="h4--recuperar-contrasena-subtitle1 layout">Iniciar Sesión</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="h4--recuperar-contrasena-block5 layout">
        <div
          style="--src:url(../assets/f256f4fab4cf6568ed21a74a95516cd3.png)"
          class="h4--recuperar-contrasena-image2 layout"
        ></div>
        <div class="h4--recuperar-contrasena-block6 layout">
          <div class="h4--recuperar-contrasena-block7 layout">
            <div class="h4--recuperar-contrasena-block7-item">
              <h1 class="h4--recuperar-contrasena-hero-title layout">Recuperación de contraseña:</h1>
            </div>
            <div class="h4--recuperar-contrasena-block8 layout">
              <div class="h4--recuperar-contrasena-block8-item">
                <div class="h4--recuperar-contrasena-block9 layout">
                <!-- <h3 class="h4--recuperar-contrasena-subtitle2 layout">Correo electrónico</h3>-->
                  <input type="email" formControlName="email" placeholder="Ingrese correo electronico" class="form-control">
                </div>
              </div>
              <div class="h4--recuperar-contrasena-block8-item">
                <div class="h4--recuperar-contrasena-block10 layout">
                  <h3 class="h4--recuperar-contrasena-subtitle layout3"(click)="__onSubmit()">Solicitar nueva contraseña</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h4--recuperar-contrasena-block11 layout">
        <div class="h4--recuperar-contrasena-block12 layout">
          <div class="h4--recuperar-contrasena-block13 layout">
            <div class="h4--recuperar-contrasena-block13-item">
              <div class="h4--recuperar-contrasena-block14 layout">
                <div
                  style="--src:url(../assets/03f522c54a05304624d1af6806cd6964.png)"
                  class="h4--recuperar-contrasena-image3 layout"
                ></div>
              </div>
            </div>
            <div class="h4--recuperar-contrasena-block13-spacer"></div>
            <div class="h4--recuperar-contrasena-block13-item1">
              <div class="h4--recuperar-contrasena-block15 layout">
                <h2 class="h4--recuperar-contrasena-medium-title layout">ACERCA DE NOSOTROS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="h4--recuperar-contrasena-image4 layout"
                ></div>
                <h4 class="h4--recuperar-contrasena-highlights layout">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat.
                </h4>
                <div class="h4--recuperar-contrasena-block16 layout">
                  <div class="h4--recuperar-contrasena-block16-item">
                    <div
                      style="--src:url(../assets/abfbd2e367082ecd26193ea4f73f55de.png)"
                      class="h4--recuperar-contrasena-icon layout"
                    ></div>
                  </div>
                  <div class="h4--recuperar-contrasena-block16-spacer"></div>
                  <div class="h4--recuperar-contrasena-block16-item">
                    <div
                      style="--src:url(../assets/9d550a4ed611e824465a77070e9e544a.png)"
                      class="h4--recuperar-contrasena-icon layout"
                    ></div>
                  </div>
                  <div class="h4--recuperar-contrasena-block16-spacer"></div>
                  <div class="h4--recuperar-contrasena-block16-item1">
                    <div
                      style="--src:url(../assets/33ad6812ce4fa720ee9fa0e6e050c6f4.png)"
                      class="h4--recuperar-contrasena-icon1 layout"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="h4--recuperar-contrasena-block13-spacer"></div>
            <div class="h4--recuperar-contrasena-block13-item">
              <div class="h4--recuperar-contrasena-block17 layout">
                <h2 class="h4--recuperar-contrasena-medium-title layout">CONTÁCTANOS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="h4--recuperar-contrasena-image4 layout"
                ></div>
                <h4 class="h4--recuperar-contrasena-highlights1-box layout">
                  <pre class="h4--recuperar-contrasena-highlights1">
Av. Los Robles 123 – Surco
contacto@petlove.com
Telf: +51 999 888 777</pre
                  >
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="h4--recuperar-contrasena-block18 layout">
          <h5 class="h4--recuperar-contrasena-highlights11 layout">©2022 Petlove.com Todos los derechos reservados</h5>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
