
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">ubigeo</th>
            <th scope="col">Celular</th>
            <th scope="col">Estado</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor='let usuario of lista'>
            <td>{{usuario.id_usr}} </td>
            <td>{{usuario.login_usr}} </td>
            <td>{{usuario.pwd_usr}} </td>
            <td>{{usuario.ape_usr}} </td>
            <td>{{usuario.nom_usr}} </td>
            <td>{{usuario.ubi_usr}} </td>
            <td>{{usuario.cel_usr}} </td>
            <td>{{usuario.sta_usr}} </td>
        </tr>

    </tbody>
</table>