


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./listar-usuario.component.css" />



    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
</head>


<body style="display: flex; flex-direction: column">
    <div class="login login-block layout">
        <div class="login-block1 layout">
            <div class="login-block2 layout">
                <div class="login-block3 layout">
                    <div class="login-block3-item">
                        <br>
                        <br>
                        <br>

                        <div style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)" class="login-image layout"></div>
                    </div>
                    <div class="login-block3-spacer"></div>
                    <div class="login-block3-item1">
                        <div class="login-block4 layout">
                            <h3 class="login-subtitle layout"></h3>
                            <div class="login-block4-spacer"></div>
                            <h3 class="login-subtitle layout"></h3>
                            <div class="login-block4-spacer1"></div>
                            <h3 class="login-subtitle layout1"></h3>
                        </div>
                    </div>
                    <div class="login-block3-spacer"></div>
                    <div class="login-block3-item2">
                        <div class="login-block5 layout">
                            <h3 class="login-subtitle1 layout"></h3>
                            <div class="login-block5-spacer"></div>
                            <div class="login-block5-item">
                                <div style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)" class="login-image1 layout"></div>
                            </div>
                            <div class="login-block5-spacer1"></div>
                            <h3 class="login-subtitle1 layout">.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="login-hero-title layout">Usuarios</h1>

<table class="table table-With">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User</th>
            <th scope="col">Contraseña</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">ubigeo</th>
            <th scope="col">Celular</th>
            <th scope="col">Estado</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor='let usuario of lista'>
            <td>{{usuario.id_usr}} </td>
            <td>{{usuario.login_usr}} </td>
            <td>{{usuario.pwd_usr}} </td>
            <td>{{usuario.ape_usr}} </td>
            <td>{{usuario.nom_usr}} </td>
            <td>{{usuario.ubi_usr}} </td>
            <td>{{usuario.cel_usr}} </td>
            <td>{{usuario.sta_usr}} </td>
        </tr>

    </tbody>
</table>