<div class="container px-5 my-5">
    <form [formGroup]="negocios">





        <div class=" form-group ">
            <input class="form-control " id="Nombredenegocio " formControlName="Nom_neg" type="text " placeholder="Nombre de usuario " />
            <label for="nombreDeUsuario ">Nombre de negocio</label>


        </div>


        <div class="form-group ">
            <input class="form-control " id="Dirección " formControlName="Dir_neg" type="text " placeholder="Contraseña " />
            <label for="contrasena ">Dirección</label>

        </div>


        <div class="form-group ">
            <input class="form-control " id="Ubigeo " formControlName="Ubi_neg" type="text " placeholder="Apellido " />
            <label for="apellido ">Ubigeo</label>
        </div>


        <div class="form-group ">
            <input class="form-control " id="adq " formControlName="Aqd_neg" type="text " placeholder="Nombre " />
            <label for="nombre ">¿A que se dedica?</label>
        </div>


        <div class="form-group ">
            <input class="form-control " id="fecha " formControlName="Fre_neg" type="text " placeholder="Ubigeo " data-sb-validations="required " />
            <label for="ubigeo ">Fecha de registro</label>

        </div>


        <div class="form-group ">
            <input class="form-control " id="estado " formControlName="Sta_neg" type="text " placeholder="Numero de Celular " />
            <label for="numeroDeCelular ">Estado </label>
        </div>


        <div class="form-group ">
            <input class="form-control " id="Notas " formControlName="Not_neg" type="text " placeholder="Estado " />
            <label for="estado ">Notas</label>
        </div>



        <div class="d-grid ">
            <button type="button " (click)="Agregar() " class="btn btn-primary ">Submit</button>
        </div>

    </form>

</div>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js "></script>