<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="./registrar-negocio.component.css" />


  <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
</head>

<body style="display: flex; flex-direction: column">
  <div class="login login-block layout">
      <div class="login-block1 layout">
          <div class="login-block2 layout">
              <div class="login-block3 layout">
                  <div class="login-block3-item">
                      <div style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)" class="login-image layout"></div>
                  </div>
                  <div class="login-block3-spacer"></div>
                  <div class="login-block3-item1">
                      <div class="login-block4 layout">
                          <h3 class="login-subtitle layout">Inicio</h3>
                          <div class="login-block4-spacer"></div>
                          <h3 class="login-subtitle layout">Nosotros</h3>
                          <div class="login-block4-spacer1"></div>
                          <h3 class="login-subtitle layout1">Contáctanos</h3>
                      </div>
                  </div>
                  <div class="login-block3-spacer"></div>
                  <div class="login-block3-item2">
                      <div class="login-block5 layout">
                          <h3 class="login-subtitle1 layout">Registrarse</h3>
                          <div class="login-block5-spacer"></div>
                          <div class="login-block5-item">
                              <div style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)" class="login-image1 layout"></div>
                          </div>
                          <div class="login-block5-spacer1"></div>
                          <h3 class="login-subtitle1 layout">Iniciar Sesión</h3>
                      </div>
                  </div>
              </div>
          </div>

<div class="container px-5 my-5">
  <form [formGroup]="negocios">

      <div class=" form-group ">
      <h1 class="login-hero-title layout">REGISTRE SU NEGOCIO</h1>
      </div>

      <div class=" form-group ">
          <input class="form-control " id="Nombredenegocio " formControlName="Nom_neg" type="text " placeholder="Nombre de negocio " />
          <label for="nombreDeUsuario ">Nombre de negocio</label>


      </div>


      <div class="form-group ">
          <input class="form-control " id="Dirección " formControlName="Dir_neg" type="text " placeholder="Dirección " />
          <label for="contrasena ">Dirección</label>

      </div>


      <div class="form-group ">
          <input class="form-control " id="Ubigeo " formControlName="Ubi_neg" type="text " placeholder="ubigeo " />
          <label for="apellido ">Ubigeo</label>
      </div>


      <div class="form-group ">
          <input class="form-control " id="adq " formControlName="Aqd_neg" type="text " placeholder="¿A que se dedica? " />
          <label for="nombre ">¿A que se dedica?</label>
      </div>


      <div class="form-group ">
          <input class="form-control " id="fecha " formControlName="Fre_neg" type="text " placeholder="Fecha de registro " data-sb-validations="required " />
          <label for="ubigeo ">Fecha de registro</label>

      </div>


      <div class="form-group ">
          <input class="form-control " id="estado " formControlName="Sta_neg" type="text " placeholder="Estado " />
          <label for="numeroDeCelular ">Estado </label>
      </div>


      <div class="form-group ">
          <input class="form-control " id="Notas " formControlName="Not_neg" type="text " placeholder="Notas " />
          <label for="estado ">Notas</label>
      </div>



      <div class="d-grid ">
          <button type="button " (click)="Agregar() " class="btn btn-primary ">Guardar</button>
      </div>

  </form>
  <br>
 <footer>
<div class="login-block23 layout">
<h5 class="login-highlights3 layout">©2022 Petlove.com Todos los derechos reservados</h5>
</div>
</footer>
</div>

<script type="text/javascript">
AOS.init();
</script>
</div>
</div>
</body>

<script src="https://cdn.startbootstrap.com/sb-forms-latest.js "></script>
