<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./actualizar-negocio.component.css" />
 

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="h9--filtrar-mascotas h9--filtrar-mascotas-block layout">
      <div class="h9--filtrar-mascotas-block1 layout">
        <div class="h9--filtrar-mascotas-block2 layout">
          <div class="h9--filtrar-mascotas-block2-item">
            <div
              style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)"
              class="h9--filtrar-mascotas-image layout"
            ></div>
          </div>
          <div class="h9--filtrar-mascotas-block2-spacer"></div>
          <div class="h9--filtrar-mascotas-block2-item1">
            <div class="h9--filtrar-mascotas-block3 layout">
              <h3 class="h9--filtrar-mascotas-subtitle layout">Inicio</h3>
              <h3 class="h9--filtrar-mascotas-subtitle layout1">Nosotros</h3>
              <h3 class="h9--filtrar-mascotas-subtitle layout2">Contáctanos</h3>
            </div>
          </div>
          <div class="h9--filtrar-mascotas-block2-spacer"></div>
          <div class="h9--filtrar-mascotas-block2-item2">
            <div class="h9--filtrar-mascotas-block4 layout">
              <h3 class="h9--filtrar-mascotas-subtitle1 layout">Registrarse</h3>
              <div class="h9--filtrar-mascotas-block4-spacer"></div>
              <div class="h9--filtrar-mascotas-block4-item">
                <div
                  style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)"
                  class="h9--filtrar-mascotas-image1 layout"
                ></div>
              </div>
              <div class="h9--filtrar-mascotas-block4-spacer1"></div>
              <h3 class="h9--filtrar-mascotas-subtitle1 layout">Iniciar Sesión</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="h9--filtrar-mascotas-block5 layout">
        <div class="h9--filtrar-mascotas-block6 layout">
          <div
            style="--src:url(../assets/e34e7f2c8b6d1a1378385fa075d4789e.png)"
            class="h9--filtrar-mascotas-block7 layout"
          >
            <div class="h9--filtrar-mascotas-block8 layout">
              <h1 class="h9--filtrar-mascotas-hero-title-box layout">
                <pre class="h9--filtrar-mascotas-hero-title">
Encuentra la pareja ideal 
para tu mascota</pre
                >
              </h1>
              <div class="h9--filtrar-mascotas-block9 layout">
                <h3 class="h9--filtrar-mascotas-subtitle2 layout">Buscar Raza, Edad, etc.</h3>
                <div class="h9--filtrar-mascotas-block9-spacer"></div>
                <div class="h9--filtrar-mascotas-block9-item">
                  <div class="h9--filtrar-mascotas-block10 layout">
                    <div
                      style="--src:url(../assets/010e061f17d21d2ac077f1917cb20f71.png)"
                      class="h9--filtrar-mascotas-icon layout"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="h9--filtrar-mascotas-box layout"></div>
        </div>
        <div class="h9--filtrar-mascotas-block11 layout">
          <div class="h9--filtrar-mascotas-block12 layout">
            <h1 class="h9--filtrar-mascotas-hero-title1 layout">Mascotas cerca de ti</h1>
            <div class="h9--filtrar-mascotas-block13 layout">
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/8353815cf60d9c1ba1dee2674e05ff9f.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout">Mascota 1</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/ec4f5f0096b9dccebce33c41986bfa2e.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout1">Mascota 2</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/bfea04d3fec2ec4478ae0e247848ad77.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout2">Mascota 3</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/346d88f5802c926b9cf87368ecdbe974.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout">Mascota 1</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block16 layout">
                  <div class="h9--filtrar-mascotas-block17 layout">
                    <div class="h9--filtrar-mascotas-block18 layout">
                      <div
                        style="--src:url(../assets/7250e5778e2728311be74e71cef0ff9f.png)"
                        class="h9--filtrar-mascotas-image4 layout"
                      ></div>
                      <div class="h9--filtrar-mascotas-paragraph-body-box layout">
                        <pre class="h9--filtrar-mascotas-paragraph-body">
Más mascotas  
disponibles en PetLove</pre
                        >
                      </div>
                    </div>
                    <hr class="h9--filtrar-mascotas-line layout" />
                  </div>
                  <div class="h9--filtrar-mascotas-block19 layout">
                    <h4 class="h9--filtrar-mascotas-highlights layout">CONÓCELOS</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="h9--filtrar-mascotas-block12 layout1">
            <h1 class="h9--filtrar-mascotas-hero-title1 layout1">Mascotas parecidas a la tuya</h1>
            <div class="h9--filtrar-mascotas-block13 layout">
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/d2d3e5c93fde57fc6bf68008c9f7fc93.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout3">Mascota 5</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/267e7bd7afabdde94909ead0d1be682c.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout4">Mascota 6</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/ef79358ec61c925b647abf517c1683ce.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout5">Mascota 7</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block14 layout">
                  <div
                    style="--src:url(../assets/1fcdcc1ec4a772bc65ea1313769182cc.png)"
                    class="h9--filtrar-mascotas-image3 layout"
                  ></div>
                  <div class="h9--filtrar-mascotas-block15 layout">
                    <h2 class="h9--filtrar-mascotas-medium-title layout6">Mascota 8</h2>
                  </div>
                </div>
              </div>
              <div class="h9--filtrar-mascotas-block13-spacer"></div>
              <div class="h9--filtrar-mascotas-block13-item">
                <div class="h9--filtrar-mascotas-block16 layout">
                  <div class="h9--filtrar-mascotas-block17 layout">
                    <div class="h9--filtrar-mascotas-block18 layout">
                      <div
                        style="--src:url(../assets/7250e5778e2728311be74e71cef0ff9f.png)"
                        class="h9--filtrar-mascotas-image4 layout"
                      ></div>
                      <div class="h9--filtrar-mascotas-paragraph-body1-box layout">
                        <pre class="h9--filtrar-mascotas-paragraph-body">
Más mascotas  
disponibles en PetLove</pre
                        >
                      </div>
                    </div>
                    <hr class="h9--filtrar-mascotas-line layout" />
                  </div>
                  <div class="h9--filtrar-mascotas-block19 layout">
                    <h4 class="h9--filtrar-mascotas-highlights layout">CONÓCELOS</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="h9--filtrar-mascotas-block20 layout">
            <div class="h9--filtrar-mascotas-block20-item">
              <div
                style="--src:url(../assets/1afdbc50687d77e92d8d6d80fee3574a.png)"
                class="h9--filtrar-mascotas-image5 layout"
              ></div>
            </div>
            <div class="h9--filtrar-mascotas-block20-spacer"></div>
            <div class="h9--filtrar-mascotas-block20-item1">
              <div class="h9--filtrar-mascotas-block21 layout">
                <div class="h9--filtrar-mascotas-block22 layout">
                  <div class="h9--filtrar-mascotas-block23 layout">
                    <h3 class="h9--filtrar-mascotas-subtitle3 layout">ACERCA DE NOSOTROS</h3>
                    <h1 class="h9--filtrar-mascotas-hero-title2 layout">Lorem Ipsum</h1>
                  </div>
                  <h3 class="h9--filtrar-mascotas-subtitle2 layout1">
                    Lorem Ipsum lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum lorem
                    ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum.
                  </h3>
                </div>
                <div class="h9--filtrar-mascotas-block24 layout">
                  <h3 class="h9--filtrar-mascotas-subtitle layout3">Más información</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="h9--filtrar-mascotas-block25 layout">
            <div class="h9--filtrar-mascotas-block26 layout">
              <div class="h9--filtrar-mascotas-block27 layout">
                <h3 class="h9--filtrar-mascotas-subtitle31 layout">CONTÁCTANOS</h3>
                <h1 class="h9--filtrar-mascotas-hero-title21-box layout">
                  <pre class="h9--filtrar-mascotas-hero-title21">
¿Necesitas más 
información?</pre
                  >
                </h1>
              </div>
              <div class="h9--filtrar-mascotas-block28 layout">
                <div class="h9--filtrar-mascotas-block28-item">
                  <div class="h9--filtrar-mascotas-block29 layout">
                    <div
                      style="--src:url(../assets/f16c391e6b833da85ce0c5d26876540e.png)"
                      class="h9--filtrar-mascotas-image6 layout"
                    ></div>
                  </div>
                </div>
                <div class="h9--filtrar-mascotas-block28-spacer"></div>
                <h3 class="h9--filtrar-mascotas-subtitle layout4">Envíanos un mensaje</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h9--filtrar-mascotas-block30 layout">
        <div class="h9--filtrar-mascotas-block31 layout">
          <div class="h9--filtrar-mascotas-block32 layout">
            <div class="h9--filtrar-mascotas-block32-item">
              <div class="h9--filtrar-mascotas-block33 layout">
                <div
                  style="--src:url(../assets/03f522c54a05304624d1af6806cd6964.png)"
                  class="h9--filtrar-mascotas-image7 layout"
                ></div>
              </div>
            </div>
            <div class="h9--filtrar-mascotas-block32-spacer"></div>
            <div class="h9--filtrar-mascotas-block32-item1">
              <div class="h9--filtrar-mascotas-block34 layout">
                <h2 class="h9--filtrar-mascotas-medium-title1 layout">ACERCA DE NOSOTROS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="h9--filtrar-mascotas-image8 layout"
                ></div>
                <h4 class="h9--filtrar-mascotas-highlights1 layout">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat.
                </h4>
                <div class="h9--filtrar-mascotas-block35 layout">
                  <div class="h9--filtrar-mascotas-block35-item">
                    <div
                      style="--src:url(../assets/abfbd2e367082ecd26193ea4f73f55de.png)"
                      class="h9--filtrar-mascotas-icon1 layout"
                    ></div>
                  </div>
                  <div class="h9--filtrar-mascotas-block35-spacer"></div>
                  <div class="h9--filtrar-mascotas-block35-item">
                    <div
                      style="--src:url(../assets/9d550a4ed611e824465a77070e9e544a.png)"
                      class="h9--filtrar-mascotas-icon1 layout"
                    ></div>
                  </div>
                  <div class="h9--filtrar-mascotas-block35-spacer"></div>
                  <div class="h9--filtrar-mascotas-block35-item1">
                    <div
                      style="--src:url(../assets/33ad6812ce4fa720ee9fa0e6e050c6f4.png)"
                      class="h9--filtrar-mascotas-icon2 layout"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="h9--filtrar-mascotas-block32-spacer"></div>
            <div class="h9--filtrar-mascotas-block32-item">
              <div class="h9--filtrar-mascotas-block36 layout">
                <h2 class="h9--filtrar-mascotas-medium-title1 layout">CONTÁCTANOS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="h9--filtrar-mascotas-image8 layout"
                ></div>
                <h4 class="h9--filtrar-mascotas-highlights11-box layout">
                  <pre class="h9--filtrar-mascotas-highlights11">
Av. Los Robles 123 – Surco
contacto@petlove.com
Telf: +51 999 888 777</pre
                  >
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="h9--filtrar-mascotas-block37 layout">
          <h5 class="h9--filtrar-mascotas-highlights2 layout">©2022 Petlove.com Todos los derechos reservados</h5>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
