<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./login.component.css" />
    

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="h1--login h1--login-block layout">
      <div class="h1--login-block1 layout">
        <div class="h1--login-block2 layout">
          <div class="h1--login-block2-item">
            <div style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)" class="h1--login-image layout"></div>
          </div>
          <div class="h1--login-block2-spacer"></div>
          <div class="h1--login-block2-item1">
            <div class="h1--login-block3 layout">
              <h3 class="h1--login-subtitle layout">Inicio</h3>
              <h3 class="h1--login-subtitle layout1">Nosotros</h3>
              <h3 class="h1--login-subtitle layout2">Contáctanos</h3>
            </div>
          </div>
          <div class="h1--login-block2-spacer"></div>
          <div class="h1--login-block2-item2">
            <div class="h1--login-block4 layout">
              <h3 class="h1--login-subtitle1 layout">Registrarse</h3>
              <div class="h1--login-block4-spacer"></div>
              <div class="h1--login-block4-item">
                <div
                  style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)"
                  class="h1--login-image1 layout"
                ></div>
              </div>
              <div class="h1--login-block4-spacer1"></div>
              <h3 class="h1--login-subtitle1 layout">Iniciar Sesión</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="h1--login-block5 layout">
        <div style="--src:url(../assets/f256f4fab4cf6568ed21a74a95516cd3.png)" class="h1--login-block6 layout"></div>
        <div class="h1--login-block7 layout">
          <div class="h1--login-block7-item"><h1 class="h1--login-hero-title layout">Iniciar sesión</h1></div>
          <div class="h1--login-block8 layout"><h3 class="h1--login-subtitle2 layout">Correo</h3></div>
          <div class="h1--login-block9 layout">
            <h3 class="h1--login-subtitle2 layout1">Contraseña</h3>
            <div class="h1--login-block9-spacer"></div>
            <div class="h1--login-block9-item">
              <div class="h1--login-block10 layout">
                <div
                  style="--src:url(../assets/2c16bbc7863e54f6a94cfc17970e0509.png)"
                  class="h1--login-image3 layout"
                ></div>
              </div>
            </div>
          </div>
          <div class="h1--login-block11 layout"><h3 class="h1--login-subtitle layout3">Iniciar sesión</h3></div>
        </div>
        <div class="h1--login-block12 layout">
          <div class="h1--login-block12-item">
            <h4 class="h1--login-highlights layout">¿Olvidaste tu constraseña?</h4>
          </div>
          <div class="h1--login-block13 layout">
            <div class="h1--login-block13-item"><hr class="h1--login-line layout" /></div>
            <div class="h1--login-block13-spacer"></div>
            <h4 class="h1--login-highlights1 layout">¿Necesitas una cuenta?</h4>
            <div class="h1--login-block13-spacer1"></div>
            <div class="h1--login-block13-item"><hr class="h1--login-line layout" /></div>
          </div>
          <div class="h1--login-block14 layout"><h3 class="h1--login-subtitle3 layout">Regístrate</h3></div>
        </div>
      </div>
      <div class="h1--login-block15 layout">
        <div class="h1--login-block16 layout">
          <div class="h1--login-block17 layout">
            <div class="h1--login-block17-item">
              <div class="h1--login-block18 layout">
                <div
                  style="--src:url(../assets/03f522c54a05304624d1af6806cd6964.png)"
                  class="h1--login-image4 layout"
                ></div>
              </div>
            </div>
            <div class="h1--login-block17-spacer"></div>
            <div class="h1--login-block17-item1">
              <div class="h1--login-block19 layout">
                <h2 class="h1--login-medium-title layout">ACERCA DE NOSOTROS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="h1--login-image5 layout"
                ></div>
                <h4 class="h1--login-highlights2 layout">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat.
                </h4>
                <div class="h1--login-block20 layout">
                  <div class="h1--login-block20-item">
                    <div
                      style="--src:url(../assets/abfbd2e367082ecd26193ea4f73f55de.png)"
                      class="h1--login-icon layout"
                    ></div>
                  </div>
                  <div class="h1--login-block20-spacer"></div>
                  <div class="h1--login-block20-item">
                    <div
                      style="--src:url(../assets/9d550a4ed611e824465a77070e9e544a.png)"
                      class="h1--login-icon layout"
                    ></div>
                  </div>
                  <div class="h1--login-block20-spacer"></div>
                  <div class="h1--login-block20-item1">
                    <div
                      style="--src:url(../assets/33ad6812ce4fa720ee9fa0e6e050c6f4.png)"
                      class="h1--login-icon1 layout"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="h1--login-block17-spacer"></div>
            <div class="h1--login-block17-item">
              <div class="h1--login-block21 layout">
                <h2 class="h1--login-medium-title layout">CONTÁCTANOS</h2>
                <div
                  style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)"
                  class="h1--login-image5 layout"
                ></div>
                <h4 class="h1--login-highlights21-box layout">
                  <pre class="h1--login-highlights21">
Av. Los Robles 123 – Surco
contacto@petlove.com
Telf: +51 999 888 777</pre
                  >
                </h4>
              </div>
            </div>
          </div>
        </div>
        <div class="h1--login-block15-item">
          <div class="h1--login-block22 layout">
            <h5 class="h1--login-highlights3 layout">©2022 Petlove.com Todos los derechos reservados</h5>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
