<!DOCTYPE html>
<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="./login.component.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
</head>

<body style="display: flex; flex-direction: column">
    <div class="login login-block layout">
        <div class="login-block1 layout">
            <div class="login-block2 layout">
                <div class="login-block3 layout">
                    <div class="login-block3-item">
                        <br>
                        <br>
                        <br>

                        <div style="--src:url(../assets/043f9b8f40eb99658472228d3ba839b4.png)" class="login-image layout"></div>
                    </div>
                    <div class="login-block3-spacer"></div>
                    <div class="login-block3-item1">
                        <div class="login-block4 layout">
                            <h3 class="login-subtitle layout"></h3>
                            <div class="login-block4-spacer"></div>
                            <h3 class="login-subtitle layout"></h3>
                            <div class="login-block4-spacer1"></div>
                            <h3 class="login-subtitle layout1"></h3>
                        </div>
                    </div>
                    <div class="login-block3-spacer"></div>
                    <div class="login-block3-item2">
                        <div class="login-block5 layout">
                            <h3 class="login-subtitle1 layout"></h3>
                            <div class="login-block5-spacer"></div>
                            <div class="login-block5-item">
                                <div style="--src:url(../assets/b502d38c93dcff5e11c797d09f95170a.png)" class="login-image1 layout"></div>
                            </div>
                            <div class="login-block5-spacer1"></div>
                            <h3 class="login-subtitle1 layout"></h3>
                        </div>
                    </div>
                </div>
                
            </div>
        
            <div class="login-block6 layout">
                <div style="--src:url(../assets/f256f4fab4cf6568ed21a74a95516cd3.png)" class="login-block7 layout"></div>
                <h1 class="login-hero-title layout">Iniciar sesión</h1>
                <div class="login-block8 layout">
                    <div class="login-block9 layout">
                        <h3 class="login-subtitle2 layout">Correo</h3>
                    </div>
                    <div class="login-block10 layout">
                        <h3 class="login-subtitle2 layout1">Contraseña</h3>
                        <div class="login-block10-spacer"></div>
                        <div class="login-block10-item">
                            <div class="login-block11 layout">
                                <div style="--src:url(../assets/eye.png)" class="login-image3 layout"></div>
                            </div>
                        </div>
                    </div>
                
                    <div class="login-block12 layout">
                        <h3 class="login-subtitle layout2">Iniciar sesión</h3>
                    </div>
                </div>
                <div class="login-block13 layout">
                    <h4 class="login-highlights layout">¿Olvidaste tu constraseña?</h4>
                    <div class="login-block14 layout">
                        <div class="login-block14-item">
                            <hr class="login-line layout" />
                        </div>
                        <div class="login-block14-spacer"></div>
                        <h4 class="login-highlights1 layout">¿Necesitas una cuenta?</h4>
                        <div class="login-block14-spacer1"></div>
                        <div class="login-block14-item">
                            <hr class="login-line layout" />
                        </div>
                    </div>
                    <div class="login-block15 layout">
                        <h3 class="login-subtitle3 layout">Regístrate</h3>
                    </div>
                </div>
            </div>
            <div class="login-block16 layout">
                <div class="login-block17 layout">
                    <div class="login-block18 layout">
                        <div class="login-block18-item">
                            <div class="login-block19 layout">
                                <div style="--src:url(../assets/03f522c54a05304624d1af6806cd6964.png)" class="login-image4 layout"></div>
                            </div>
                        </div>
                        <div class="login-block18-spacer"></div>
                        <div class="login-block18-item">
                            <div class="login-block20 layout">
                                <h2 class="login-medium-title layout">ACERCA DE NOSOTROS</h2>
                                <div style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)" class="login-image5 layout"></div>
                                <h4 class="login-highlights2 layout">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                </h4>
                                <div style="--src:url(../assets/a6817b0b9ca98b66d9a06d18d586ac03.png)" class="login-block21 layout"></div>
                            </div>
                        </div>
                        <div class="login-block18-spacer"></div>
                        <div class="login-block18-item">
                            <div class="login-block22 layout">
                                <h2 class="login-medium-title layout">CONTÁCTANOS</h2>
                                <div style="--src:url(../assets/d57e8594bea9685c1b313c1e123727cd.png)" class="login-image5 layout"></div>
                                <h4 class="login-highlights21-box layout">
                                    <pre class="login-highlights21">
Av. Los Robles 123 – Surco
contacto@petlove.com
Telf: +51 999 888 777</pre
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="login-block23 layout">
            <h5 class="login-highlights3 layout">©2022 Petlove.com Todos los derechos reservados</h5>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>